.container{
    background-color: rgb(92, 196, 214);
    border: 5px solid blue;
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    background-color: rgb(224, 76, 105);
    border: 5px solid red;
    display: flex;
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
    text-align: center;
}